body{
    background-image: url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    font-size: 100px;
}
#angka{
    font-size: 300px;
    color: white;
}
#h1{
    
    border-width: 3px ;
    border-style: solid;
    padding: 5px 5px ;
    color: azure;
}